* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
}
.hero img {
    max-width: 328px;
}
.hero .text {
    margin-top: 30px;
    padding: 5px;
}
.hero .text h2 ,  .company-skills h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: rgb(255, 81, 0);
}
.hero .text p ,  .company-skills p{
    text-align: center;
    color: #fff;
   
}
.fueater .box p {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: rgb(255, 81, 0);
    z-index: 1;
}
.fueater .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: rgb(9, 3, 17);
    overflow: hidden;
    border-radius: 20px;
}

.fueater .box::before
{
    content: " ";
    position: absolute;
    width: 150px;
    height: 150%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.fueater .box::after
{
    content: " ";
    position: absolute;
    inset: 4px;
    background: rgb(9, 3, 17);
    border-radius: 20px;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
/* .fueater .box img {
    max-width: 300px;
} */

.company-skills {
    padding: 20px;
    box-shadow: 2px 2px 11px 3px linear-gradient(#00ccff,#d400d4);
    border-radius: 10px;
}
.company-skills img {
    max-width: 70px;
    color: #f8930f;
}

footer {
    color: #f8930f;
}
